.posts-container {
    width: 40%;
    margin: 0 auto;
    height: auto !important;
    padding-top: 25rem;
    padding-bottom: 10rem;
}

.card {
    border-radius: 2rem !important;
    margin-bottom: 4rem;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.user-icon-post {
    color: #1877f2;
    height: 100%;
    width: 4rem;
    margin-right: 1rem;
}

.card-title {
    position: absolute;
    font-size: 1.6rem !important;
    top: 3rem;
    left: 6rem;
    font-family: 'Roboto', sans-serif;
}

#time {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.3rem;
}

#content {
    font-size: 1.7rem;
    position: relative;
    width: 94%;
    padding-bottom: 5rem;
    padding-top: 4rem;
    font-family: 'Roboto', sans-serif;
}

#content:hover {
    color: inherit !important;
}

.like-button-s {
    padding: 1rem 0;
    border-top: 1px solid rgb(223, 216, 216);
    border-bottom: 1px solid  rgb(223, 216, 216);
    margin-bottom: 2rem;
}


#like-button, #like-button:hover, #like-button:active, #unliked-button, #unliked-button:hover {
    padding: 0 1rem;
    width: 10rem;
    color: #1877f2;
    height: 4rem;
    position: relative;
}

#unliked-button {
    color: rgb(122, 120, 120);
}

#like-button svg, #unliked-button svg {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: .9rem;
    left: 3.3rem;
}

#like-p, #like-p:hover{
    font-size: 1.5rem;
    position: absolute;
    top: .7rem;
    left: 5.8rem;
}

#likes-length {
    font-size: 2rem;
    position: absolute;
    top: .3rem;
}

#see-more {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.comments-container {
    position: relative;
}


.single-comment {
    position: relative;
    padding-bottom: 3rem;
    display: block;
}

.commenter-user-icon-container {
    display: inline-block;
    position: absolute;
}

.comment-content-name {
    display: inline-block;
    background-color: #f0f2f5;
    border-radius: 1.5rem;
    padding: 1rem;
    max-width: 80%;
    margin-left: 5rem;
}

.commenter-name {
    font-size: 1.4rem;
    font-weight: 500;
}

.comment-content {
    font-size: 1.7rem;

}

.more-comments {
    color: #7a7878;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    padding-bottom: 2rem;
}

.more-comments:hover {
    text-decoration: underline;
}

.comment-form {
    height: 3rem;
    position: absolute;
    bottom: 3rem;
    width: 100%;
    border-radius: 3rem;
    z-index: 0;
}

#comment-input {
    min-height: 5rem;
    width: 60%;
    padding: 1rem 1rem;
    font-size: 2rem;
    background-color: #f0f2f5;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

#comment-button {
    font-size: 1.8rem;
    padding-right: 1rem;
    padding-left: 1rem;
    z-index: 0;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.profile-modal .modal-content, .profile-modal .modal-dialog, .profile-modal-body {
    width: 100%;
    border-radius: 1rem;
}

.profile-modal-body {
    position: relative;
}

.profile-modal-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.profile-modal-img-container {
    position: relative;
    top: 1.5rem;
}

.profile-modal-name-container {
    position: relative;
    left: 10rem;
    bottom: 1.3rem;
}

.profile-modal-name-container h2 {
    font-size: 2.3rem;
}

.profile-modal-gallery-container {
    margin-top: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 2rem;
}

.profile-modal-gallery-img {
    margin: .2rem;
    width: 10rem;
    height: 10rem;
}


@media only screen  and (max-width: 1450px) {
    .posts-container {
        top: 24rem;
        z-index: 0;
        width: 100%;
        background-color: #f0f2f5;
    }

    .card {
        margin: 0 auto;
        width: 50%;
        margin-bottom: 5rem;
    }

    .profile-modal .modal-content, .profile-modal .modal-dialog, .profile-modal-body {
        width: 99%;
    }
}

@media only screen  and (max-width: 800px) {
    .card {
        width: 100%;
        border-radius: 0 !important;
    }
}