.gallery-container {
    height: 100vh;
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    overflow-x: hidden !important;
}

.gallery-wrapper {
    background-color: white;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 3rem !important;
    width: 95%;
    min-height: 80%;
    border-radius: .8rem;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.gallery-wrapper h2 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight: 500;
    width: 100%;
}

#upload-photo {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

.gallery-images {
    margin-top: 30rem;
    width: 100%;
}

#max-file-size-1 {
    position: absolute;
    right: 2.7rem;
    top: 4.2rem;
    font-size: 1.3rem;
}

.image-info {
    font-size: 1.5rem;
    position: absolute;
    right: 15rem;
    top: 1.8rem;
    text-align: center;
}


.upload-button-gallery {
    font-size: 1.7rem !important;
    font-weight: 500 !important;
    color: #51ab4b !important;
}

.upload-button-gallery:hover, #upload-photo:hover {
    text-decoration: underline !important;
}

.oversize-image {
    font-size: 1.7rem !important;
    color: red !important;
    text-decoration: none !important;
    cursor: not-allowed !important;
}

.photo-wrapper {
    display: inline-block;
}

.photo {
    margin: 1rem;
    height: 25rem;
    width: 25rem;
    border-radius: 1rem;
}

@media only screen  and (max-width: 630px) {

    .gallery-container {
        width: 100%;
        position: absolute;
        top: 80vh;
        background-color: #f0f2f5;
    }

    .gallery-wrapper {
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .photo-wrapper {
        margin: 0 auto;
        margin-left: 50%;
        position: relative;
        top: 10rem;
        transform: translateX(-50%);
    }

    .image-info {
        display: table-cell;
        width: 100%;
        left: 50%;
        top: 15%;
        transform: translate(-50%, -50%);
        justify-content: center;

    }
}