.profile-container {
    height: 100vh;
    width: 50rem;
}

.profile-img-container {
    margin-top: 12rem;
    color: #1877f2;
}

#update-profile-button {
    color: #1877f2;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    
}

#update-profile-button:hover, #upload-profile-button:hover {
    text-decoration: underline;
}

#max-file-size {
    position: relative;
    bottom: 2.5rem;
}

#upload-profile-button {
    color: #1877f2;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    bottom: 3rem;
    outline: none !important;
    border: 0 !important;
}

.image-info-profile {
    text-align: center;
    font-size: 1.5rem;
}

@media only screen  and (max-width: 630px) {
    .profile-container {
        width: 100vw;
    }

    .profile-img-container {
        height: 20rem;
    }

    .profile-img-container .user-icon, .profile-img-container .img-profile {
        height: 100%;
        width: 100%;
        position: absolute;
        margin-left: 50% !important;
        transform: translateX(-50%);
    }

    .card-body {
        margin: 0;
        padding-right: 0 !important;
    
    }
}